body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}


.namegame, .scoreboard, .tablegame, .game {
	text-align: center;
}


.namegame {
	font-size: 5em;
	font-weight: 900;
	color: #940212;
}


.scoreboard {
	font-size: 2.5em;
	font-weight: 400;
}


.player {
	display: inline-block;
	padding: 20px;
}


.dice {
	width: 250px;
	height: 250px;
	background-color: #940212;
	border: 1px solid #940212;
	border-radius: 10%; 
}


.diceContainer {
	width: 250px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}


.number {
	background-color: #fcefd5;
	border: 1px solid #fcefd5;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 15px;
}


.center {
	grid-area: 2 / 2;
}


.topRight {
	grid-area: 1/3;
}


.topLeft {
	grid-area: 1/1;
}


.centerRight {
	grid-area: 2/3;
}


.centerLeft {
	grid-area: 2/1;
}


.bottomRight {
	grid-area: 3/3;
}


.bottomLeft {
	grid-area: 3/1;
}


.button-play {
	margin: 0;	
	padding: 0;
	width: 100px;
	height: 100px;
	border: 1px solid #fcefd5;
	background-color: #fcefd5;
	border-radius: 10%;		
	font-size: 1.8em;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 400px) {

	.container{
		row-gap: 7px;
	}


	.namegame {
		font-size: 2.5em;
	}


	.scoreboard {
		font-size: 1em;
	}	

	
	.player {
		padding: 10px;
	}

	
	.dice {
		width: 200px;
		height: 200px; 
	}


	.diceContainer {
		width: 200px;
	}

	
	.number {
		width: 40px;
		height: 40px;
		margin: 12px;
	}

	
	.player {
   	 padding: 8px;
	}


	.button-play {
		width: 80px;
		height: 80px;
		font-size: 1em;
	}	

}